#interior {
    background-color:$darkgrey;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 7vh;

    #interior-info {
        width: 32vw;
        padding-top:10vh;
        padding-left:3vw;
           h1 {
            font-size: 1.85vw;
            text-transform: uppercase;
            font-family: $Raleway;
            letter-spacing: .3em;
            cursor: none;
            margin-bottom:5vh;
            position: relative;
            display: inline-block;
            &:before {
                content: '';
                border-bottom: .25vmin solid $yellow;
                position: absolute;
                width: 80%;
                left: 10%;
                bottom: 0;
            }
            a {
                color:$white;
                text-decoration: none;
                &:visited {color:$white;} 
                &:hover {color:$red;} 
            }
        }

        p {
            color:$grey;
            font-size: 1.5vw;
            margin-top:1.5vh;
            font-family: $Mont;
            text-align: justify;
            padding-right: 3vw;
        }
    }

    .slider {
        width: 90vw;
        text-align: center;
        overflow: hidden;

        .slides {
            display: flex;          
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                width: 10px;
                height: 15px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: 0 0 0 0 $black; 
                background:$dop;
              }
               
            &::-webkit-scrollbar-thumb {
                background: $lop;

                &:hover{
                    background: $red;
                }
            }

            &>div {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 69vw;
                height: 85vh;
                background: #eee;
                transform-origin: center center;
                transform: scale(1);
                transition: transform 0.5s;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 100px;
            }

            #slide-1 {
                background-image: url(../images/roma-cockpit.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            #slide-2 {
                background-image: url(../images/roma-dashboard2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            #slide-3 {
                background-image: url(../images/roma-cockpit2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            #slide-4 {
                background-image: url(https://www.carscoops.com/wp-content/uploads/2020/04/Ferrari-Roma-3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom right;
            }

        }
    }

}

@include respond-below(xs) {
    #interior {
        flex-direction:column-reverse;
        padding-top:6vh;
        #interior-info {
            width: 100vw;
            height: 40vh;
            padding:5vh 15vw 0 15vw;
            h1 {
                font-size: 5vw;
                text-transform: uppercase;
                font-family: $Raleway;
                letter-spacing: .3em;
                cursor: none;
                position: relative;
                display: inline-block;
                text-align:center;
                margin-left:4vw;
                &:before {
                    content: '';
                    border-bottom: .25vmin solid $yellow;
                    position: absolute;
                    width: 80%;
                    left: 10%;
                    bottom: 0;
                }
                a {
                    color:$white;
                    text-decoration: none;
                    &:visited {color:$white;} 
                    &:hover {color:$red;} 
                }
            }
    
            p {
                color:$grey;
                font-size: 3vw;
                font-family: $Mont;
                text-align: justify;
                margin-top:-2vh;
            }
        }
        .slider {
            width: 100vw;
            text-align: center;
            overflow: hidden;
    
            .slides {
                display: flex;          
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
    
                &::-webkit-scrollbar {
                    width: 10px;
                    height: 15px;
                }
    
                &::-webkit-scrollbar-track {
                    box-shadow: 0 0 0 0 $black; 
                    background:$dop;
                  }
                   
                &::-webkit-scrollbar-thumb {
                    background: $lop;
    
                    &:hover{
                        background: $red;
                    }
                }
    
                &>div {
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    width: 90vw;
                    height: 50vh;
                    background: #eee;
                    transform-origin: center center;
                    transform: scale(1);
                    transition: transform 0.5s;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 100px;
                }
            }
        }
    }
}