#testdrive {
    background-image: linear-gradient(180deg, $delop, $grey);
    padding-bottom: 6vh;

    .space {
        color:$trans;
        height: 10vh;
    }
    .video-container {
        padding: 0 15vw;
        margin-top: -2vh;
        margin-bottom: 5vh;
        .el-vid {
            width:100%;
            padding:56.25% 0 0 0;
            position:relative;
            overflow:hidden;
        
            .video {
                width:100%;
                height:100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position:absolute;
                }   
        }
    } 
}