html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin:0;
    padding: 0;
    border: none;
    overflow: hidden;
    background-image: url("https://images2.alphacoders.com/100/1000061.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
main {
    margin:0;
    padding: 0;
    border: none;
}
button {
    cursor: pointer;
}

body, .content, .modal {
    height: 100%;
    width: 100%;
}