$red : rgb(153, 0, 17);
$lightred : #b60014;
$white : rgb(252,246,245);
$lop : 	rgba(245, 245, 245, 0.8);
$smoke: #f5f5f5;
$silver : rgb(162, 162, 161);
$black : rgb(45, 41, 38);


@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$main : 'Odibee Sans';
$body : 'Roboto Condensed';
$content: 'Poppins';
