.hide {
    height: 0;
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: all 1s ease;
    background-image:url("https://wallpapercave.com/wp/wp2630800.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .modal-container {
        width:500px;
        padding: 15px 10px;
        background-color: $silver;
        background-image: url("https://media.istockphoto.com/vectors/brushed-metal-background-vector-id619260624?k=6&m=619260624&s=612x612&w=0&h=YuQelgkftIP_gl7NzTUBahx91JF13ZYlkp65BSyn7Xk=");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border: 3px solid $lightred;


        .modal-title {
            font-size: 1.65rem;
            text-align: center;
            padding: 0 10px 20px 10px;
            font-family: $main;
            color: $white;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .5rem;
            vertical-align: text-bottom;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            padding: 0 5%;

            .form-item {
                width: 100%;
                display: flex;
                margin-right:-5px;
                margin-bottom: 5px;

                .label {
                    display:inline-block;
                    width: 50%;
                    vertical-align:bottom;
                    font-family: $content;
                    color: $smoke;
                }

                #form-first-move,
                #form-opponent-selection,
                #form-grid-size {
                    font-size: 1.3rem;
                    width: 50%;
                    border: 2px solid black;
                    font-family: $content;
                    margin:2px 0;
                    background-color: $silver;
                    border: 2px solid $lightred;
                }   
            }
            .form-submit {
                font-size: 1rem;
                margin-top: 20px;
                margin-bottom: 5px;
                padding: 12px;
                align-self: center;
                border-radius:10px;
                display: inline-block;
                border-color: #7c7c7c;
                background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
                    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
                    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
                    
                    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
                    hsl(0,0%,90%) 47%, 
                    hsl(0,0%,78%) 53%,
                    hsl(0,0%,70%)100%);

                &:hover {
                    transform: scale(.98);
                    color:$lightred;
                    text-shadow: rgba(211, 62, 79, 0.701) 0 -1px 0, rgb(240, 209, 209) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
                    box-shadow: 
                        inset rgb(199, 41, 41) 0  0px 0px 4px, /* border */
                        inset rgba(193, 10, 10, 0.816) 0 -1px 5px 4px, /* soft SD */
                        inset hsla(193, 10, 10, 0.7) 0 -1px 0px 7px, /* bottom SD */
                        inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */
                        
                        rgba(243, 30, 30, 0.8) 0  0px 3px 2px, /* outer SD */
                }
            } 
        }
    }
}
.content {
    display: grid;
    grid-template-columns:100%;
    height: 100vh;
    grid-template-rows: 12% 1fr 15%;


    .content-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        grid-row-start: 1;
        grid-row-end: 2;
    
        .title {
            font-family: $main;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin: 2vh 0 0 0;
            padding: 0;
            font-size: 2.5rem;
            font-weight: 800;  
            background-image: linear-gradient(
            to right,
            #757575 0,
            #b5b7bb 22%, 
            #d8d8d8 45%,
            $smoke 50%,
            #d8d8d8 55%,
            #b5b7bb 78%,
            #757575 100%
            );
            color:transparent;
            background-clip:text;
        }
    
        .title-desc {
            font-size: 1.2rem;
            color: $smoke;
            padding: 0;
            margin: 0;
            font-family: $body;
            letter-spacing: 3px;
        }
    }
    
    .content-center {
        height: auto;
        width: 100%;
        text-align: center;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        margin-top: -3vh;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: 10% 1fr 1fr 15%;

        .player-one,
        .player-two {
            font-family: $content;

            .content-title {
                width: 10vw;
                grid-area: title;
                text-align: left;
                margin-left: 8px;
                font-size: larger;
                font-family: $body;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
        .player-one {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start:2;
            grid-row-end:3;
        }

        .player-two {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start:3;
            grid-row-end:4;
        }

        .center-middle {
            height: auto;
            grid-column-start:4;
            grid-column-end:9;
            grid-row-start:2;
            grid-row-end:4;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin-left: 8vw;

            .grid-container {
                height: 64vmin;
                width: 64vmin;
                display: grid;
                border: 2px solid $black;

                .grid-item {
                    font-weight: bold;
                    background-color: $lop;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $black;
                    cursor: pointer;
                    &:hover {
                        background-color: $smoke;
                        }
                }
                
            }
        }
        .center-right {
            grid-column-start:10;
            grid-column-end:12;
            grid-row-start:2;
            grid-row-end:4;
            
            h1 {
                font-family: $body;
                padding-bottom: 2vh;
            }
            #history {
                font-family: $content;
                overflow: auto;
                max-height: 50vh;
                p {
                    font-family: $body;
                    margin: 0.5vh 0;
                    color:$smoke;
                }
            }

        }
    }  
    
        /* Avatars and content */
    
        .content-desc {
            grid-area: mark;
        }
    
        .content-avatar {
            grid-area: avatar;
            height: 60px;
            width: 60px;
            background-color: $white;
            border: 4px solid grey;
            background-image: url('https://cdn.icon-icons.com/icons2/1674/PNG/512/person_110935.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 1vh;
            margin-left: auto;
            margin-right: auto;
            align-self: center;
        }
    
        .content-wins {
            grid-area: wins;
            font-size: large;
        }
    
    .content-bottom {
        width: 100%;
        text-align: center;
        font-family: $body;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: -4vh;
    }
    
        .content-message {
            font-size: 1.5vw;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 10px;
        }
    
        .controls {
            font-size: 1vw;
            font-family: $content;
            padding: 5px;
            margin: 3px;
            border-color: #7c7c7c;
            background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
                -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
                -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
                
                linear-gradient(180deg, hsl(0,0%,78%)  0%, 
                hsl(0,0%,90%) 47%, 
                hsl(0,0%,78%) 53%,
                hsl(0,0%,70%)100%);
    
            &:hover {
                transform: scale(.97);
                color:$lightred;
                text-shadow: rgba(211, 62, 79, 0.701) 0 -1px 0, rgb(240, 209, 209) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
                box-shadow: 
                    inset rgb(199, 41, 41) 0  0px 0px 4px, /* border */
                    inset rgba(193, 10, 10, 0.816) 0 -1px 2.5px 2px, /* soft SD */
                    inset hsla(193, 10, 10, 0.7) 0 -1px 0px 3px, /* bottom SD */
                    inset hsla(210,100%,100%,.7) 0  1x 1px 3px, /* top HL */
                    
                    rgba(243, 30, 30, 0.8) 0  0px 2px 1px, /* outer SD */
            }
        }    
}